@page "/about"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h2 class="pt-3">Über</h2>
<div>
    <span>Wird zum Spaß betrieben von</span>
    <a href="https://muenster.im/@@david">@@david@@muenster.im</a><span>.</span>
</div>
<div>
    <span class="fw-bold">data-münster.de hat keine Verbindung zur Stadt Münster oder anderen offiziellen Stellen.</span>
    <span>Alle Originaldaten sind zu finden bei</span>
    <a href="https://opendata.stadt-muenster.de/">OpenData-Münster</a><span>.</span>
</div>
<div>
    <span>Alle Bugs, Wünsche und coolen Ideen hier entlang: </span>
    <a href="https://github.com/Velociraptor45/muenster-data/issues">https://github.com/Velociraptor45/muenster-data/issues</a>
</div>

<h2 class="mt-4">Datenschutz</h2>
<div>ohje.</div>