@page "/about"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h2>Über</h2>
<div>Kommt noch!</div>
<div>
    <span>Alle Bugs, Wünsche und coolen Ideen hier entlang: </span>
    <a href="https://github.com/Velociraptor45/muenster-data/issues">https://github.com/Velociraptor45/muenster-data/issues</a>
</div>

<h2>Datenschutz</h2>
<div>ohje.</div>