body {
    --main-background-color: #1F1F1F;
    --sidebar-background-color: #181818;
    --primary-text-color: #E0E0E0;
    --button-hover-background-color: #333333;
    --border-color: #333333;
    --blue-accent: #007a99;
    --olive-accent: #c4c91f;
}
