@inherits LayoutComponentBase

<PageTitle>Data-Münster - Münster visualisiert</PageTitle>

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main class="px-4">
        @Body
    </main>
</div>
