.bi {
    color: #E0E0E0;
}

/* top bar */

#top-bar {
    width: 100%;
    background-color: #1F1F1F;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 0.5px solid #333333;
}

.toggler:hover {
    background-color: #333333;
}

.toggler {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #1F1F1F;
    border: 0;
    font-size: 1.7em;
}

/* sidebar */

#sidebarMenu {
    background-color: #1F1F1F;
    height: 100%;
    position: fixed;
    left: 0;
    width: 200px;
    z-index: 999;
    transform: translateX(0px);
    transition: transform 250ms ease-in-out;
}

    #sidebarMenu.collapsed {
        transform: translateX(-200px);
    }

.nav-item .bi {
    font-size: 1.4em;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #E0E0E0;
    height: 2.5rem;
}