<div id="top-bar">
    <button type="button" class="toggler" @onclick="ToggleNavMenu">
        <i class="bi bi-list"></i>
    </button>
</div>

<div id="sidebarMenu" class="@NavMenuCssClass">
    <nav>
        <div class="nav-item ms-4 mt-2">
            <NavLink class="nav-link pt-3" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house"></i>
                <i class="bi bi-house-fill"></i> Home
            </NavLink>
            <NavLink class="nav-link pt-3" href="traffic" Match="NavLinkMatch.All">
                <i class="bi bi-stoplights"></i>
                <i class="bi bi-stoplights-fill"></i> Verkehr
            </NavLink>
            <NavLink class="nav-link pt-3" href="about" Match="NavLinkMatch.All">
                <i class="bi bi-info-circle"></i>
                <i class="bi bi-info-circle-fill"></i> Über
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
