@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@typeparam TCloseAction where TCloseAction : new()

@using Fluxor
@using MuensterData.Domain.Traffic.States

@inject IState<TrafficState> State
@inject IDispatcher Dispatcher

<div class="info-background" @onclick="OnCloseInfo">
</div>
<div class="info">
    <div class="d-flex">
        <h2>Quellen</h2>
        <div class="ms-auto">
            <i class="bi bi-x-lg close-info" @onclick="OnCloseInfo"></i>
        </div>
    </div>
    <div>
        @SourceContent
    </div>
</div>

@code
{
    [Parameter]
    public RenderFragment? SourceContent { get; set; }

    private void OnCloseInfo()
    {
        Dispatcher.Dispatch(new TCloseAction());
    }
}
