.accident-map {
    padding-bottom: 20px;
}

.filter-label {
    font-weight: bold;
}

.map-marker-opacity-label {
    display: flex;
    align-items: center;
}

.map-settings-label {
    font-weight: bold;
}

.tooltip-icon:hover {
    cursor: pointer;
}

.tooltip-icon {
    align-self: center;
}

.accident-map {
    max-width: 900px;
    margin: 0 auto;
}