.accident-map {
    padding-bottom: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.filter-label {
    font-weight: bold;
}

.map-settings-label {
    font-weight: bold;
}

.tooltip-icon:hover {
    cursor: pointer;
}

.tooltip-icon {
    align-self: center;
}

.map-settings-button:hover .bi-gear,
.map-settings-button .bi-gear-fill {
    display: none;
}

.map-settings-button:hover .bi-gear-fill {
    display: inline;
}

.map-settings-button {
    cursor: pointer;
    margin-right: 10.5px;
    margin-bottom: -10px;
    z-index: 900;
    font-size: 1.2em;
}

.accident-map-content {
    padding-top: 30px;
}